.emoji-picker-react, .emoji-group:before {
    background-color: #282E33 !important
}

.emoji-search {
    background-color: grey;
    color: white;
    border: none !important;
}

.emoji-categories {
    color: white !important
}

.emoji-picker-react .emoji-categories {
    background: grey;
    margin-bottom: 10px;
}